<!DOCTYPE html>
<html lang="en">

<head>
    <title>BloodGroup : A</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #060c21;
        }

        h1 {
            color: red;
        }

        p {
            color: white;
        }

    </style>

</head>

<body>
    <h1>BloodGroup : A</h1>
    <img src="/images/a.gif" width="240" height="240" />
    <p>Blood group A individuals have the A antigen on the surface of their RBCs, and blood serum containing IgM antibodies against the B antigen. Therefore, a group A individual can receive blood only from individuals of groups A or O (with A being preferable), and can donate blood to individuals with type A or AB.<br><br><b>Blood group A is associated with high frequencies in Europe, especially in Scandinavia and Central Europe, although its highest frequencies occur in some Australian Aboriginal populations and the Blackfoot Indians of Montana, the US.</b><br><br><b>In India A+:20.8% and A- are 0.57%.</b></p>
</body>

</html>
