<html>

<head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>

    <div class="team-section">
        <h1>Our Team</h1>
        <span class="border"></span>
        <div class="ps">
            <a href="#p1"><img src="/images/IMG_0985.JPG" alt=""></a>
            <a href="#p2"><img src="/images/IMG_0986.JPG" alt=""></a>
            <a href="#p3"><img src="/images/IMG_0984.JPG" alt=""></a>
        </div>
        
        <div class="section" id="p1">
            <span class="name"> K Srikar </span>
            <span class="border"></span>
            <p style="margin:0 auto;">
                <a href="https://www.github.com/srikar18" target="_blank"><img src="images/github.png" width="100" height="100"></a> 
                <a href="https://www.facebook.com/narcissist.2506" target="_blank"><img src="images/fb.png" width="100" height="100"></a>
            </p>
        </div>
        
        <div class="section" id="p2">
            <span class="name"> P Varshith </span>
            <span class="border"></span>
            <p>
                
            </p>


        </div>
        <div class="section" id="p3">
            <span class="name"> P Shashank </span>
            <span class="border"></span>
            <p>
                
            </p>
        </div>
    </div>

</body>

</html>
