<!DOCTYPE html>
<html lang="en">

<head>
    <title>BloodGroup : B</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #060c21;
        }

        h1 {
            color: red;
        }

        p {
            color: white;
        }

    </style>

</head>

<body>
    <h1>BloodGroup : B</h1>
    <img src="/images/b.gif" width="240" height="240" />
    <p>Blood group B individuals have the B antigen on the surface of their RBCs, and blood serum containing IgM antibodies against the A antigen. Therefore, a group B individual can receive blood only from individuals of groups B or O (with B being preferable), and can donate blood to individuals with type B or AB.<br><br><b>Blood group B has its highest frequency in South Asia where it ranks first as the largest share of the earth's population. In Southeast Asia the share of the population is high, especially in Thailand and Indonesia, then in East Asia, Northern Asia and neighboring Central Asia, and its incidence diminishes both towards the east and the west, falling to single digit percentages in Netherlands, Norway, Portugal and Switzerland.[40][41] It is believed to have been entirely absent from Native American and Australian Aboriginal populations prior to the arrival of Europeans in those areas..</b><br><br><b>In India B+ 38.14% and B- are 1.79%.</b></p>
</body>

</html>
