<!DOCTYPE html>
<html>

<head>
    <title>Know More</title>
    <link rel="stylesheet" type="text/css" href="/css/KMstyle.css">

</head>

<body>
    <div class="container">
        <div class="box">
            <div class="content">
                <h2>A</h2>
                <h3>BloodGroup : A</h3>
                <p>Blood group A individuals have the A antigen on the surface of their RBCs, and blood serum containing IgM antibodies against the B antigen.</p>
                <a href="/details/a">ReadMore</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>B</h2>
                <h3>BloodGroup : B</h3>
                <p>Blood group B individuals have the B antigen on the surface of their RBCs, and blood serum containing IgM antibodies against the A antigen.</p>
                <a href="/details/b">ReadMore</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>O</h2>
                <h3>BloodGroup : O</h3>
                <p>Blood group O (or blood group zero in some countries) individuals do not have either A or B antigens on the surface of their RBCs, and their blood serum contains IgM anti-A and anti-B antibodies.</p>
                <a href="/details/o">ReadMore</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>AB</h2>
                <h3>BloodGroup : AB</h3>
                <p>Blood group AB individuals have both A and B antigens on the surface of their RBCs, and their blood plasma does not contain any antibodies against either A or B antigen.</p>
                <a href="/details/ab">ReadMore</a>
            </div>
        </div>
    </div>
</body>

</html>
