<!DOCTYPE html>
<html lang="en">

<head>
    <title>BloodGroup : O</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #060c21;
        }

        h1 {
            color: red;
        }

        p {
            color: white;
        }

    </style>

</head>

<body>
    <h1>BloodGroup : O</h1>
    <img src="/images/o.gif" width="240" height="240" />
    <p>Blood group O (or blood group zero in some countries) individuals do not have either A or B antigens on the surface of their RBCs, and their blood serum contains IgM anti-A and anti-B antibodies. Therefore, a group O individual can receive blood only from a group O individual, but can donate blood to individuals of any ABO blood group (i.e., A, B, O or AB). If a patient in a hospital situation needs a blood transfusion in an emergency, and if the time taken to process the recipient's blood would cause a detrimental delay, O negative blood can be issued. Because it is compatible with anyone, O negative blood is often overused and consequently is always in short supply.[25] According to the American Association of Blood Banks and the British Chief Medical Officer's National Blood Transfusion Committee, the use of group O RhD negative red cells should be restricted to persons with O negative blood, women who might be pregnant, and emergency cases in which blood-group testing is genuinely impracticable<br><br><b>In India O+ 27.85% and O- are 1.43%.</b></p>
</body>

</html>
